doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  bodys
  block content
  nav
    ul
     li
      a(href="/logout")= "Sign off"
      a(href="/customers")= "Customers"
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="/javascripts/global2.js")