extends layout2

block content

	// Wrapper
	#wrapper

		//CUSTOMER LIST
		h2 Customter List
		#customerlist
			table
				thead
					//th Pic
					th UserName
					th Email
					th Phone
				tbody
		//	/CUSTOMER LIST

	//	/WRAPPER